{% extends 'base.html.twig' %}

{% block title %}New Employee{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Create new Employee</h1>
    </div>
    <div class="card-body">
        {{ include('employee/_form.html.twig') }}
    </div>
    <div class="card-footer">

    </div>
</div>





{% endblock %}
